header.header
  .header__logobox
    img.header__img(src="/img/svg/canvas.svg", alt="Logo")
  .header__textbox
    h1.heading-primary
      span.heading-primary__main Где мечты становятся реальностью
      span.heading-primary__sub
    a.btn.btn-white.btn-animated(href="#artist") Представляем
