.navigation
  input#navi-toggle.navigation__checkbox(type="checkbox")
  label.navigation__btn(for="navi-toggle")
    span.navigation__icon &nbsp;
  div.navigation__bcg &nbsp;

  nav.navigation__nav
    ul.navigation__list
      li.navigation__item
        a.navigation__link(href="#main")
          span 01
          | Главная
      li.navigation__item
        a.navigation__link(href="#artist")
          span 02
          | Художники
      li.navigation__item
        a.navigation__link(href="#features")
          span 03
          | Кратко о...
      li.navigation__item
        a.navigation__link(href="#works")
          span 04
          | Популярные работы
      li.navigation__item
        a.navigation__link(href="#stories")
          span 05
          | О нас говорят
      li.navigation__item
        a.navigation__link(href="#book")
          span 06
          | Сделай заказ
      li.navigation__item
        a.navigation__link(href="#footer")
          span 07
          | О разработчиках