section#artist.section__artist
  .u-center-text.u-margin-bottom-big
    h2.heading-secondary Работы харьковских художников
  .row
    .col-1-of-2 
      h3.heading-tertiary.u-margin-bottom-small Александра Правицкая
      p.paragraph.
        48 лет, по образованию экономист, работает главным бухгалтером более 20 лет. Живописью занимается с весны 2015 года, до этого увлекалась вышивкой. С работы всегда спешит домой, где ее ждет любимое творчество.
      h3.heading-tertiary.u-margin-bottom-small Дарья Ямник
      p.paragraph.
        24 года. Закончила ХПИ, электроэнергетический факультет (в 2016 году) и начала писать маслом в художественной студии Аrt-palitra.
      h3.heading-tertiary.u-margin-bottom-small Ирина Приезжева
      p.paragraph.
        48 лет, закончила ХНАУ им. Докучаева, живописью маслом занимается с ноября 2014 года.
      a.btn-text(href="http://izvestia.kharkov.ua/on-line/18/1245324.html" target="_blank") Узнать больше &rarr;
    .col-1-of-2
      .composition
        img.composition__photo.composition__photo-img4(srcset="/img/art-8.png 300w, /img/art-8.png 1000w" sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" alt="Photo 5" src="/img/art-8.png")
        img.composition__photo.composition__photo-img1(srcset="/img/art-1.png 300w, /img/art-1.png 1000w" sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" alt="Photo 2" src="/img/art-1.png")
        img.composition__photo.composition__photo-img2(srcset="/img/art-2.png 300w, /img/art-2.png 1000w" sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" alt="Photo 3" src="/img/art-2.png")
        img.composition__photo.composition__photo-img3(srcset="/img/art-3.png 300w, /img/art-3.png 1000w" sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" alt="Photo 4" src="/img/art-3.png")
        img.composition__photo.composition__photo-img0(srcset="/img/art-0.png 300w, /img/art-0.png 1000w" sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" alt="Photo 1" src="/img/art-0.png")
        img.composition__photo.composition__photo-img5(srcset="/img/art-9.png 300w, /img/art-9.png 1000w" sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" alt="Photo 1" src="/img/art-9.png")
        img.composition__photo.composition__photo-img6(srcset="/img/art-11.png 300w, /img/art-11.png 1000w" sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" alt="Photo 1" src="/img/art-11.png")