section#features.section__features
  i.icon-basic-world
  .row
    .col-1-of-4
      .feature__box
        //- img.feature__box-icon(src="/img/svg/portrait.svg", alt="Icon portrait")
        svg.feature__box-icon(width='50' height='50')
          use.icon__portrait(xlink:href="../img/svg/sprite.svg#icon__portrait")
        h3.heading-tertiary.u-margin-bottom-small Портрет
        p.feature__box-text.u-margin-bottom-small.
          Целью портрета является отображение визуальных характеристик модели. Важной его характеристикой является размер. Нередко портреты образуют целые ансамбли — портретные галереи. Хорошо написанный портрет должен показывать внутреннюю сущность модели - не только физические, но и духовные черты.
        a.btn-text(href="http://https://ru.wikipedia.org/wiki/%D0%9F%D0%BE%D1%80%D1%82%D1%80%D0%B5%D1%82" target="_blank") Узнать больше &rarr;
    .col-1-of-4
      .feature__box
        //- img.feature__box-icon(src="/img/svg/landscape.svg", alt="Icon landscape")
        svg.feature__box-icon(width='50' height='50')
          use.icon__landscape(xlink:href="../img/svg/sprite.svg#icon__landscape")
        h3.heading-tertiary.u-margin-bottom-small Пейзаж
        p.feature__box-text.u-margin-bottom-small.
          Жанр изобразительного искусства, в котором основным предметом изображения является первозданная природа. В пейзажном произведении особое значение придаётся построению перспективы и композиции вида, передаче состояния атмосферы, воздушной и световой среды, их изменчивости.
        a.btn-text(href="https://ru.wikipedia.org/wiki/%D0%9F%D0%B5%D0%B9%D0%B7%D0%B0%D0%B6" target="_blank") Узнать больше &rarr;
    .col-1-of-4
      .feature__box
        //- img.feature__box-icon(src="/img/svg/sea.svg", alt="Icon sea")
        svg.feature__box-icon(width='50' height='50')
          use.icon__sea(xlink:href="../img/svg/sprite.svg#icon__sea")
        h3.heading-tertiary.u-margin-bottom-small Марина
        p.feature__box-text.u-margin-bottom-small.
          Жанр изобразительного искусства, изображающий морской вид, а также сцену морского сражения или иные события, происходящие на море. Является разновидностью пейзажа. В качестве самостоятельного вида пейзажной живописи марина выделилась в начале XVII века в Голландии.
        a.btn-text(href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B0%D1%80%D0%B8%D0%BD%D0%B0(%D0%B6%D0%B0%D0%BD%D1%80)" target="_blank") Узнать больше &rarr;
    .col-1-of-4
      .feature__box
        //- img.feature__box-icon(src="/img/svg/still-life.svg", alt="Icon still-life")
        svg.feature__box-icon(width='50' height='50')
          use.icon__still-life(xlink:href="../img/svg/sprite.svg#icon__still-life")
        h3.heading-tertiary.u-margin-bottom-small Натюрморт
        p.feature__box-text.u-margin-bottom-small.
          В отличие от портретной и пейзажной тематики натюрморт передает изображение неодушевлённых предметов. В конце XIX — в начале XX века Поль Сезанн, Поль Гоген и Анри Матисс предприняли ряд новаторских шагов, сделавших натюрморт жанром для художников-экспериментов.
        a#stillLife.btn-text(href="https://ru.wikipedia.org/wiki/%D0%9D%D0%B0%D1%82%D1%8E%D1%80%D0%BC%D0%BE%D1%80%D1%82" target="_blank") Узнать больше &rarr;
