#popup__left.popup
  .popup__content
    img.popup__img(srcset="/img/art-5.png 300w, /img/art-5.png 1000w" sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" src="/img/art-5.png", alt="Art photo")
    a.popup__close(href="#section__tours") &times;
#popup__center.popup
  .popup__content
    img.popup__img(srcset="/img/art-6.png 300w, /img/art-6.png 1000w" sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" src="/img/art-6.png", alt="Art photo")
    a.popup__close(href="#section__tours") &times;
#popup__right.popup
  .popup__content
    img.popup__img(srcset="/img/art-7.png 300w, /img/art-7.png 1000w" sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" src="/img/art-7.png", alt="Art photo")
    a.popup__close(href="#section__tours") &times;
#popup__all.popup
  .popup__content-all
    img.popup__img-all(srcset="/img/art-5.png 300w, /img/art-5.png 1000w" sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" src="/img/art-5.png", alt="Art photo")
    img.popup__img-all(srcset="/img/art-6.png 300w, /img/art-6.png 1000w" sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" src="/img/art-6.png", alt="Art photo")
    img.popup__img-all(srcset="/img/art-7.png 300w, /img/art-7.png 1000w" sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" src="/img/art-7.png", alt="Art photo")
    a.popup__close.popup__close-all(href="#section__tours") &times;