section#works.section__works
  .u-center-text.u-margin-bottom-big
    h2.heading-secondary Самые популярные работы
  .row
    .col-1-of-3
      .card
        .card__side.card__side-front
          .card__picture.card__picture-1 &nbsp; 
          h4.card__heading
            span.card__heading-span.card__heading-span-1 Лето
          .card__details
            ul.card__details-list
              li.card__details-item Константин Кучма
        .card__side.card__side-back.card__side-back-1
          .card__cta
            .card__price-box
              p.card__price-only специально
              p.card__price-value для вас 
            a.btn.btn-white(href="#popup__left") Открыть
    .col-1-of-3
      .card
        .card__side.card__side-front
          .card__picture.card__picture-2 &nbsp; 
          h4.card__heading 
            span.card__heading-span.card__heading-span-2 Утренний букет
          .card__details
            ul.card__details-list
              li.card__details-item Елена Афанасенко
        .card__side.card__side-back.card__side-back-2
          .card__cta
            .card__price-box
              p.card__price-only специально
              p.card__price-value для вас
            a.btn.btn-white(href="#popup__center") Открыть
    .col-1-of-3
      .card
        .card__side.card__side-front
          .card__picture.card__picture-3 &nbsp; 
          h4.card__heading 
            span.card__heading-span.card__heading-span-3 Портрет отца
          .card__details
            ul.card__details-list
              li.card__details-item Ирина Осетрова
        .card__side.card__side-back.card__side-back-3
          .card__cta
            .card__price-box
              p.card__price-only специально
              p.card__price-value для вас
            a.btn.btn-white(href="#popup__right") Открыть
  .u-center-text.u-margin-top-huge
      a.btn.btn-green(href="#popup__all") Открыть все
  include popup